
    
   <app-navbar></app-navbar>



   <div class="container">

  
    <form  (ngSubmit)="sendMessage()"> 
      <div class="shadow-sm p-4 mb-4 bg-white">

      
        <app-ngx-editor   [spellcheck]="true" placeholder="Talep Gönder..." id="content" name="content" [(ngModel)]="message.content"></app-ngx-editor>
      </div>
        <div class="d-flex justify-content-center">
        <input  class="shadow-sm p-4 mb-4 bg-white" style="width:490px;" type="text" id="senderName"  name="senderName" [(ngModel)]="message.senderName"  placeholder="Name Surname"><br>
    
      </div>
      <div class="d-flex justify-content-center">

      
        <input class="btn btn-success btn-s"  type="submit"  value="Gönder">
      </div>
      

        
  
      </form>
    </div>
      
     



    



